<section id="abstract-section" class="content-section">
  <div class="abstract" id="abstract">
    <h2>Abstract</h2>
    <div class="abstract-content">
      <p>
        Transformer-based Large Language Models (Tb-LLMs) demonstrate extraordinary capabilities and, thus, change the approach of conducting research even in Knowledge Representation.
      </p>
      <p>
        Building on existing research that neural networks (NNs) on discrete symbols operate as holistic reasoners over <span class="text-highlight">classical symbolic approaches</span>, this tutorial aims to present the dominant paradigm of Tb-LLMs according to the idea that these models can be understood with <span class="text-highlight">neuro-symbolic, ontology-grounded approaches</span> and controlled through <span class="text-highlight">mechanistic, interpretable, or explainable KG reasoning methods</span>.
      </p>
      <p>
        Offering a profound understanding of the inner workings of these models, the tutorial will help practitioners build <span class="text-highlight">novel, transparent architectures</span> to model symbolic knowledge in NN.
      </p>
    </div>
  </div>
</section>
