<section id="content-section" class="content-section">
  <h2>Content</h2>

  <p>
    <strong>Description:</strong> Transformer-based LLMs (Tb-LLMs) demonstrate extraordinary capabilities and, thus,
    change the approach of the KR communities to research. Large chunks of research topics are neglected as Tb-LLMs seem
    to be the ultimate solution. However, it seems that Tb-LLMs' capabilities depend on their ability to memorize (<a
      href="https://www.usenix.org/system/files/sec21-carlini-extracting.pdf">Carlini et al. (2021)</a>,
    <a href="https://proceedings.neurips.cc/paper_files/paper/2023/file/7bc4f74e35bcfe8cfe43b0a860786d6a-Paper-Conference.pdf">Zhang et al. (2023)</a>,
    <a href="https://openreview.net/forum?id=TatRHT_1cK">Carlini et al. (2023)</a>,
    <a href="https://openreview.net/forum?id=8JCg5xJCTPR">Kim et al. (2023)</a>,
    <a href="https://aclanthology.org/2023.ranlp-1.103/">Ranaldi et al. (2023)</a>).
    Moreover, the necessity for deep neural networks to memorize long-tailed data to obtain close to optimal
    generalization error has attracted a lot of discussion (<a href="https://dl.acm.org/doi/10.1145/3357713.3384290">Feldman (2020)</a>,
    <a href="https://proceedings.neurips.cc/paper/2020/hash/1e14bfe2714193e7af5abc64ecbd6b46-Abstract.html">Feldman and Zhang (2020)</a>).
    Then, a flourishing research area on LLMs is exploring how these models memorize and generalize from data.
    Understanding these facts is mandatory to investigate how these models can be understood with <span
      class="text-highlight">neuro-symbolic approaches</span> and controlled through <span
      class="text-highlight">mechanistic interpretability methods</span>.
  </p>

  <p>
    Building on the long-standing debate on how neural networks encode discrete symbols, which are the bases of Tb-LLMs,
    it is now time to show again how neural networks on discrete symbols are holistic reasoners
    (<a href="https://www.semanticscholar.org/paper/Syntactic-Transformations-on-Distributed-Chalmers/c89b497dc1bc2592bb0a25a370a16b04a51495e1">Chalmers (1992)</a>)
    over <span class="text-highlight">"classical" symbolic approaches</span>
    (<a href="https://www.sciencedirect.com/science/article/abs/pii/0010027788900315">Fodor and Pylyshyn, 1988</a>).
    This will give a profound understanding of the inner workings of Tb-LLMs and, thus, the ability to design novel
    architectures according to the possible, understood, and foreseen memorization and generalization capabilities of
    neural networks.
  </p>

  <p>
    Although based on traditional research, this tutorial presents these ideas within the dominating paradigm of Tb-LLMs
    and then gives a profound understanding of the inner workings of these models, which will help practitioners build
    <span class="text-highlight">neuro-symbolic-and-mechanistic-interpretable-by-design-based LLMs</span>.
  </p>

  <p>
    <strong>Motivation:</strong> The SW community will benefit from this new light on existing methods as it will open
    novel perspectives on integrating <span class="text-highlight">explicit knowledge</span> in LLMs based on novel
    Neural Network architectures.
  </p>
</section>
