<div class="footer">
  <p>
    Fabio Massimo Zanzotto · Elena Sofia Ruzzetti · Leonardo Ranaldi
  </p>

  <p>
    <a href="../iswc/">ISWC 2026</a> ·
    <a href="../ijcnn/">IJCNN 2025</a> ·
  </p>

  <p>
    <a href="mailto:Fabio.Massimo.Zanzotto@uniroma2.it">
      Contact us
    </a>
  </p>

  <p class="copyright">
    © 2026 Human-centric ART · University of Rome Tor Vergata
  </p>
  <p>
    Website template free to borrow from
    <a href="https://github.com/indramal/iNdra-GitHub-Page-Template-For-Resarch">here</a>.
  </p>
</div>

<button class="scrollUpBtn" id="scrollUpBtn" onclick="scrollToTop()">
  ⬆
</button>
