<section id="presenters-section" class="content-section">
  <h2>Presenters</h2>

  <div class="presenter-cards-grid">
    <article class="presenter-card">
      <img src="Assets/zanzotto.jpg" alt="Portrait of Fabio Massimo Zanzotto" />
      <div class="presenter-card-body">
        <h3>Fabio Massimo Zanzotto</h3>
        <p>
          Full Professor, Human-centric ART, University of Rome Tor Vergata (Italy)
          and Senior Research Scientist, AlmaWave (Italy)
        </p>
      </div>
    </article>

    <article class="presenter-card">
      <img src="Assets/ruzzetti.jpg" alt="Portrait of Elena Sofia Ruzzetti" />
      <div class="presenter-card-body">
        <h3>Elena Sofia Ruzzetti</h3>
        <p>
          Postdoc, Human-centric ART, University of Rome Tor Vergata
        </p>
      </div>
    </article>

    <article class="presenter-card">
      <img src="Assets/ranaldi.jpeg" alt="Portrait of Leonardo Ranaldi" />
      <div class="presenter-card-body">
        <h3>Leonardo Ranaldi</h3>
        <p>
          Postdoc, School of Informatics, University of Edinburgh, UK and Tenure Track at University of Rome Tor Vergata
        </p>
      </div>
    </article>
  </div>
</section>